# Integers
Integer (int) tipe data bawaan untuk bilangan bulat, bisa positif, nol atau negatif.

In [2]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

Varibel x
memberikan nilai integer 14

pada print pertama mencetak nilai x yaitu 14
Pada pernyataan kedua print, menggunakan type fungsi untuk mendapatkan tipe data x dan kemudian mencetaknya. 

Outputnya adalah <class 'int'>, yang menunjukkan bahwa itu x 
adalah bilangan bulat.

# Floats
Floats adalah bilangan dengan bagian pecahan dan memiliki banyak angka setelah desimal.

Fungsi float untuk mengkonversi representasi bilangan bulat atau string dari angka desimal menjadi float.

In [4]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

Nilai sebelah kanan yaitu angka desimal
Variabel nearly_pi konstanta matematika pi

print(type(nearly_pi)) mmencetak tipe data dari nearly_pi menggunakan fungsi tipe.

nearly_pi bertipe float, yang merupakan tipe data yang digunakan untuk mewakili angka dengan bagian desimal.

In [7]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

Fungsi round() untuk bekerja dengan pecahan dan untuk membulatkan angka ke jumlah tempat desimal tertentu.

In [8]:
# Round to 5 decimal places
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

rounded_pi : Nilai float yang akan dibulatkan.
5: Jumlah tempat desimal untuk dibulatkan
Hasil pembulatan ini disimpan dalam variabel rounded_pi.

print(type(rounded_pi)) memastikan bahwa tipe data dari rounded_pi masih berupa <class 'float'>. Meskipun nilainya dibulatkan, tetap berupa angka floating-point.

In [9]:
y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

# Boolean

Boolean adalah tipe data yang digunakan untuk mewakili nilai logika benar atau salah.

Fungsi boolean sangat penting untuk mengontrol alur program berdasarkan kondisi. Mereka sering digunakan dalam pernyataan kondisional seperti "if", "elif", dan "while"

In [10]:
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

z_one = True menetapkan True ke variable z_one 
True adalah kata kunci dalam python yang mewakili status logika benar

print(type(z_one)) menampilkan tipe data dari z_one
Output <class 'bool'>, yang menunjukkan bahwa z_one memang merupakan variabel boolean.

In [11]:
z_two = False
print(z_two)
print(type(z_two))

False
<class 'bool'>

In [12]:
z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

Boolean digunakan untuk mewakili nilai kebenaran dari sebuah ekspresi. Karena "1 < 2" adalah pernyataan yang benar, maka "z_three" memiliki nilai "Truebool'>

In [13]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

Baris z_four = (5 < 3) melakukan perbandingan antara 5 dan 3. Karena 5 tidak kurang dari 3, ekspresi bernilai "False".
Nilai "False" ini kemudian ditetapkan ke variabelz_fourt.

Nilai boolean menggunakan operator not.  Jadi, not True  sama dengan False, dan not False menjadi True.

In [14]:
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

# String

String adalah tipe data yang digunakan untuk menyimpan kumpulan karakter, bisa berupa huruf alfabet, tanda baca, angka, atau simbol.

tring selalu diapit oleh tanda kutip ( tunggal atau ganda ), yang menandakan awal dan akhir dari kumpulan karakter tersebut.

In [16]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

Kode tersebut menunjukkan bagaimana string digunakan untuk menyimpan dan menampilkan teks dalam Python

In [17]:
print(len(w))

14

Fungsi len() digunakan untuk menghitung jumlah karakter dalam sebuah string. Ini mencakup semua karakter yang diapit oleh tanda kutip, termasuk spasi, tanda baca, dan angka.

Dalam Python, selain string yang berisi teks, terdapat tipe data string khusus yang disebut "string kosong" (empty string). 

String kosong tidak berisi karakter apapun. Ini berbeda dengan string yang terlihat seperti kosong karena hanya memiliki spasi, karena spasi itu sendiri merupakan sebuah karakter.

Karena tidak memiliki karakter, string kosong memiliki panjang nol (0) ketika dihitung menggunakan fungsi len().

In [18]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

In [19]:
my_number = "1.12321"
print(my_number)
print(type(my_number))

1.12321
<class 'str'>

Angka di dalam tanda kutip (tunggal atau ganda), itu akan dianggap sebagai string, bukan angka (float atau integer). Ini karena tanda kutip memberi tahu Python untuk memperlakukan karakter di dalamnya sebagai teks literal.

Dapat menggabungkan (floats or integers) dua buah string menggunakan operator +. Operator ini akan merangkai kedua string tersebut menjadi satu string yang lebih panjang.

In [20]:
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

In [21]:
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

In [22]:
will_not_work = "abc" * 3.

TypeError: can't multiply sequence by non-int of type 'float'

Kode will_not_work = "abc" * 3 mengalikan string "abc" dengan 3 untuk pengulangan. 
Pada Python memiliki batasan pada panjang string yang dihasilkan. Jika string yang diulang menjadi terlalu besar, ini dapat menyebabkan kesalahan.
Sebaiknya gunakan loop untuk jaminan pengulangan, terutama saat menangani string yang berpotensi besar.